<div class = 'ui vertical segment container-header'>
    <h1>Purchase Orders</h1>
    <div class = 'ui compact menu header-menu'>
        <a class = 'item' href = <%= purchase_orders_path %>>All Purchase Orders</a>
        <a class = 'item' href = <%= new_purchase_order_path %>><i class = 'add icon'></i>New</a>
    </div>
</div>