<tr class = 'order-line-item'>
    <td class = 'col-checkbox'>
        <div id = 'check-itemSelect' class = 'ui fitted checkbox'>
            <input type = 'checkbox'>
            <label></label>
        </div>
    </td>
    <td class = 'col-particulars'></td>
    <td class = 'col-unit-price'></td>
    <td class = 'col-qty'></td>
    <td class = 'col-order-price'></td>
    <td style = 'display: none;'>
        <%= order_line.text_field :product_id, class: 'main-form product-id', hidden: 'true' %>
        <%= order_line.text_field :quantity, class: 'main-form qty', hidden: 'true' %>
        <%= link_to_remove_association 'Remove', order_line, wrapper_class: 'order-line-item', style: 'display: none;', id: 'button-removeItem' %>
    </td>
</tr>