<%= render 'header' %>
<div class = 'container-content view-edit'>
    <div class = 'ui attached message'>
        <div class = 'header'>Edit Purchase Order</div>
    </div>
    <%= render 'form' %>
</div>