<div class = 'view-edit'>
    <h1>Edit Purchase Order</h1>
    <div class = 'ui attached message'>
        <div class = 'header'>Edit Purchase Order — <%= @purchase_order.po_num %></div>
    </div>
    <%= render 'form' %>
</div>