<div class = 'ui attached message'>
    <div class = 'header'>View Purchase Order</div>
</div>
<div class = 'ui attached segment'>
   
</div>
<div class = 'ui attached segment'>
    <div class = 'field'>
        <label>Order Details</label>
        <div class = 'ui segments'>
            
        </div>
    </div>
</div>