<%= render 'header' %>
<div class = 'container-content view-new'>
    <div class = 'ui attached message'>
        <div class = 'header'>New Inventory Update</div>
    </div>
    <%= render 'form' %>
</div>