<div class = 'ui vertical segment container-header'>
    <h1>Customer Accounts</h1>
    <div class = 'ui compact menu header-menu'>
        <a class = 'item' href = <%= customer_accounts_path %>>All Customers</a>
        <a class = 'item' href = <%= new_customer_account_path %>><i class = 'add icon'></i>New</a>
    </div>
</div>