<div class = 'ui vertical segment container-header'>
    <h1>Backup</h1>
</div>
<div class = 'container-content'>
    <a href = <%= backup_path(:format => "csv") %>>Backup Customer Payments</a>
</div>