<div class = 'ui vertical segment container-header'>
    <h1>Customer Payments</h1>
    <div class = 'ui compact menu header-menu'>
        <a class = 'item' href = <%= customer_payments_path %>>All Payments</a>
        <a class = 'item' href = <%= new_customer_payment_path %>><i class = 'add icon'></i>New</a>
    </div>
</div>