<h1>Show Customer Payment</h1>
<p><b>Customer Account:</b> @customer_account.name </p>
<p><b>Purchase Order:</b> 0 </p>
<p><b>Payment Date:</b> @customer_payment.purchase_date</p>
<p><b>Amount Paid:</b> @customer_payment.amount_paid</p>