.view-index {
    .index-all-records-list-container.records-purchase-orders {
        .col-poDetails {
            width: 40% !important;
        }
        .col-dueDate {
            width: 25% !important;
            text-align: right;
        }
        .col-outstandingBal {
            width: 20% !important;
            text-align: right;
        }
        .col-actions {
            width: 15% !important;
            text-align: right;
        }

        .content .details .key {
            width: 6em;
        }
    }
    .index-all-records-list-container.records-products {
        .col-productDetails {
            width: 85% !important;
        }
        .col-actions {
            width: 15% !important;
            text-align: right;
        }

        .content .details .key {
            width: 8em;
        }
    }
}