.view-index {
    min-width: 700px;
    width: 50vw;
    .filter-menu-container {
        .show-field {
            width: 25% !important;
        }
        .sort-by-field {
            width: 25% !important;
        }
        .sort-asc-desc-field {
            width: 15% !important;
        }
    }
    .index-all-records-list {
        .col-productDetails {
            width: 55% !important;
        }
        .col-qty {
            width: 30% !important;
            text-align: right;
        }
        .col-actions {
            width: 15% !important;
            text-align: right;
        }
        .content .details .key {
            width: 7.5em;
        }
    }
}
.view-new, .view-edit {
    min-width: 450px;
    width: 35vw;
    .section-messages {
        min-width: 800px !important;
    }
}
.view-show {
    min-width: 400px;
    width: 35vw;
    .section-messages {
        min-width: 800px !important;
    }
}