.segment .no-padding {
    padding: 0;
}
.order-line-table-container {
    min-height: 50vh;
    max-height: 70vh;
    overflow: auto;
    table {
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-radius: 0 !important;
    }
}